@media (max-width: 991px) {
  .about-me {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .about-me {
    margin-top: 250px;
  }
}

.about-me .image .me {
  width: 490px;
}

.about-me .squair {
  width: 200px;
  top: -25px;
  right: -30px;
  z-index: -1;
}

.about-me .ellipse {
  width: 170px;
  left: -44px;
  top: -57px;
}

.about-me-text {
  margin-left: 90px;
}

@media (max-width: 991px) {
  .about-me-text {
    margin-left: 0px;
  }
}

.about-me-text > p {
  max-width: 480px;
  line-height: 1.8;
  color: var(--bs-gray);
}
